body {
    .btn {
        color: $light-dark;
    }

    .pagination {
        .page-item {
            .page-link {
                color: $light;
            }

            &.disabled {
                .page-link {
                    color: $primary-dark;
                }
            }
        }
    }

    .sidebar {
        .sidebar-elements {
            .sidebar-element {
                color: $light-dark;
            }
        }
    }

    .main {
        background-color: $dark-light;
        color: $light-dark  !important;

        .btn-outline-secondary {
            color: $light-dark  !important;
        }

        .section {
            .section-header {
                .left-side {
                    .title {
                        color: $light-dark  !important;
                    }

                    .subtitle {
                        color: $light  !important;
                    }
                }
            }

            .section-content {
                background-color: rgb($light, 0.25);
                border-color: rgb($light, 0.125);
            }

            &.section-users {
                .section-content {
                    .list-items {
                        .list-item {
                            background-color: rgb($light-dark, 0.125);

                            &.user {
                                .photo {
                                    background-color: rgb($light-dark, 0.25);

                                    &.no-photo {
                                        color: rgb($dark-light, 0.5);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}